
@{
    ViewBag.Title = "Index";
}

<h2>Drug Store</h2>
<br />
<input type="button" formaction="AddItem" name="AddItemView" value="ADD"/><br />
<a href="">Part 2....</a><br />

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity Available</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<input type="button" value="Sort by Name" formaction="SortName" />
<input type="button" value="Sort by Price" formaction="SortPrice" />
<input type="button" value="Sort by Quantity" formaction="SortQuantity" />
<input type="button" value="Total items" formaction="TotalItems" />